/* 
- Name: SSGS
- Version: 1.0
- Latest update: 7.11.2015.
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
LESS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* GRID VARIABLES */
/* MIXINS */
.box-sizing {
  box-sizing: border-box;
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
1200px
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.row {
  margin: 0 auto;
  width: 80%;
  box-sizing: border-box;
  *zoom: 1;
}
.row .row {
  width: 100%;
}
.row:before,
.row:after {
  display: table;
  content: " ";
}
.row:after {
  clear: both;
}
.row .span12,
.row .span11,
.row .span10,
.row .span9,
.row .span8,
.row .span7,
.row .span6,
.row .span5,
.row .span4,
.row .span3,
.row .span2,
.row .span1 {
  float: left;
  box-sizing: border-box;
  margin: 0 2%;
}
.row .span12 {
  width: 96%;
}
.row .span11 {
  width: 87.667%;
}
.row .span10 {
  width: 79.333%;
}
.row .span9 {
  width: 71%;
}
.row .span8 {
  width: 62.667%;
}
.row .span7 {
  width: 54.333%;
}
.row .span6 {
  width: 46%;
}
.row .span5 {
  width: 37.667%;
}
.row .span4 {
  width: 29.333%;
}
.row .span3 {
  width: 21%;
}
.row .span2 {
  width: 12.666%;
}
.row .span1 {
  width: 4.333%;
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
960px
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  .row {
    width: 90%;
  }
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
TABLETS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .row {
    width: 90%;
  }
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
MOBILE 100%
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 767px) {
  /* Grid mobile */
  .row {
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
    box-sizing: border-box;
    *zoom: 1;
  }
  .row .span12,
  .row .span11,
  .row .span10,
  .row .span9,
  .row .span8,
  .row .span7,
  .row .span6,
  .row .span5,
  .row .span4,
  .row .span3,
  .row .span2,
  .row .span1 {
    display: block;
    float: none;
    margin-left: 0;
    width: 100%;
  }
}
